{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>WeightWatch</title>
    <link rel="icon" href="{% static 'images/dish-icon.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weight-watch-style.css' %}">
</head>
<body>
{% csrf_token %}
<div id="container">
    <h1>
        <div id="head-links-div">
            <a id="back-link" href="/">
                <img id="back-image" src="{% static 'images/back.svg' %}">
            </a>
            <a id="logout-link" href="/logout">
                <img id="logout-image" src="{% static 'images/right-from-bracket-solid.svg' %}">
            </a>
        </div>
        <div>{{ user.first_name }}s WeightWatch</div>
    </h1>
    <h2 id="macro-h2">
        <div>Deine Macros heute:</div>
        <a href="/weight-watch/statistics">
            <img id="statistics-img" src="{% static 'images/statistics.svg' %}">
        </a>
    </h2>
    <div id="macro-info-div">
        <div class="single-macro-div" id="kcal-div">
            <div class="macro-text-div">
                kcal:
                <span>
                    {{ kcal }}
                </span>

            </div>
            <div class="divide-div">/</div>
            <div class="macro-input-div">
                <input id="own-kcal-input" class="own-macro-input" type="number" value="{{ user_macros.kcal }}">
            </div>
        </div>
        <div class="single-macro-div" id="fat-div">
            <div class="macro-text-div">
                Fett:
                <span>
                    {{ fat }}
                </span>
                g
            </div>
            <div class="divide-div">/</div>
            <div class="macro-input-div">
                <input id="own-fat-input" class="own-macro-input" step="0.01" type="number"
                       value="{{ user_macros.fat }}">
                <div class="g-div">g</div>
            </div>
        </div>
        <div id="carbohydrates-div">
            <div id="single-carbohydrates-div">
                <div class="macro-text-div"> Kohlenhydrate:
                    <span>
                       {{ carbohydrates }}
                    </span>
                    g
                </div>
                <div class="divide-div">/</div>
                <div class="macro-input-div">
                    <input id="own-carbohydrates-input" class="own-macro-input" step="0.01" type="number"
                           value="{{ user_macros.carbohydrates }}">
                    <div class="g-div">g</div>
                </div>
            </div>
            <div id="sugar-div">
                <div class="macro-text-div">
                    davon Zucker:
                    <span>
                        {{ sugar }}
                    </span>
                    g
                </div>
                <div class="divide-div">/</div>
                <div class="macro-input-div">
                    <input id="own-sugar-input" class="own-macro-input" step="0.01" type="number"
                           value="{{ user_macros.sugar }}">
                    <div class="g-div">g</div>
                </div>
            </div>
        </div>
        <div class="single-macro-div" id="proteins-div">
            <div class="macro-text-div">Proteine:
                <span>
                    {{ proteins }}
                </span>
                g
            </div>
            <div class="divide-div">/</div>
            <div class="macro-input-div">
                <input id="own-proteins-input" class="own-macro-input" step="0.01" type="number"
                       value="{{ user_macros.proteins }}">
                <div class="g-div">g</div>
            </div>
        </div>
    </div>
    <a id="food-edit-link" href="/weight-watch/food">
        <button id="add-food-btn">
            <div>Zutaten bearbeiten</div>
            <img id="food-edit-image" src="{% static 'images/edit.svg' %}">
        </button>
    </a>
    <div id="dish-list-container">
        <div id="dish-list-head">
            <h2>Zuletzt gegessen:</h2>
            <input type="search" id="dish-search-input" placeholder="Suche...">
            <img id="dish-list-add-image" src="{% static 'images/plus-solid.svg' %}">
        </div>
        <div id="dish-list">
            <div id="dish-template" data-date="" class="dish-item">
                <div class="name-div"></div>
                <div class="amount-div"> g/ml</div>
                <img class="clone-img" src="{% static 'images/clone.svg' %}">
                <img class="edit-img" src="{% static 'images/edit.svg' %}">
                <img data-id="0" class="delete-img" src="{% static 'images/delete.svg' %}">
                <img class="share-img" src="{% static 'images/share.svg' %}">
            </div>
            {% for user_dish_amount in user_dish_amounts %}
                <div class="dish-item" data-date="{{ user_dish_amount.formatted_eaten }}" id="dish-item-{{ user_dish_amount.id }}">
                    <div class="name-div">{{ user_dish_amount.dish.name }}</div>
                    <div class="amount-div">{{ user_dish_amount.amount }} %</div>
                    <img class="clone-img" src="{% static 'images/clone.svg' %}">
                    <img class="edit-img" src="{% static 'images/edit.svg' %}">
                    <img class="share-img" src="{% static 'images/share.svg' %}">
                    <img data-id="{{ user_dish_amount.id }}" class="delete-img" src="{% static 'images/delete.svg' %}">
                </div>
            {% endfor %}
        </div>

    </div>
</div>

<div id="overlay">
    <div id="formContainer">
        <data id="food-data" data-update="0" data-id="-1"></data>
        <div id="close-form-div">
            <img id="close-form-img" src="{% static 'images/cross-close.svg' %}">
        </div>
        <h1 id="dish-h1">
            <img id="info-img" src="{% static 'images/info.svg' %}">
            <span>Deine Speise:</span>
        </h1>
        <div id="form-div">
            <label>Name:</label>
            <input list="name-input-list" id="name-input" type="text" placeholder="Name..." maxlength="128">
            <datalist id="name-input-list">
            </datalist>
            <label>Menge in Prozent:</label>
            <input id="amount-input" min="0" max="100" step="0.01" type="number" placeholder="Menge in Prozent...">
            <label>Gegessen zur Zeit:</label>
            <input id="datetime-input" type="datetime-local" >
            <h3 id="ingredients-h3">Zutaten hinzufügen:</h3>
            <div id="food-add-div">
                <div class="input-div">
                    <label>Kategorie:</label>
                    <select id="category-select">
                        <option>----</option>
                        {% for category in categories %}
                            <option class="category-option" style="background: {{ category.color }}"
                                    value="{{ category.id }}">{{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-div">
                    <label>Suche:</label>
                    <input id="search-input" type="search" placeholder="Suche...">
                </div>
                <div id="food-select-div" class="input-div">
                    <label>Neue Zutat:</label>
                    <select id="food-select">
                        <option value="">----</option>
                        {% for single_food in food %}
                            <option value="{{ single_food.id }}"
                                    data-categories="
                        {% for category in single_food.category_set.all %}
                            {{ category.id }},
                        {% endfor %}
                        "
                            >{{ single_food.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <img id="food-add-image" src="{% static 'images/plus-solid.svg' %}">
            </div>
            <div id="food-item-container">
                <div id="food-template" class="single-food-item-container">
                    <input hidden class="food-id-input">
                    <div class="food-name-div">Name</div>
                    <div class="food-amount-div">
                        <input min="0" class="food-amount-input" type="number" step="0.1" placeholder="Menge...">
                        <div class="unit-div">g/ml</div>
                    </div>
                    <img class="food-delete-img" src="{% static 'images/delete.svg' %}">
                </div>

            </div>
            <button id="close-btn">Close</button>
            <button id="confirm-btn">Confirm</button>
        </div>
    </div>
</div>

<div id="shareOverlay">
    <data data-dame="" data-id="-1" id="share-dish-data"></data>
    <div id="shareFormContainer">
        <div id="close-user-select-form-div">
            <img id="close-user-select-form-img" src="{% static 'images/cross-close.svg' %}">
        </div>
        <h1>Wähle den Nutzer:</h1>

        <div id="share-form-div">
            <select id="user-select">
                {% for other_user in other_users %}
                    <option value="{{ other_user.id }}">
                        {{ other_user.username }}
                    </option>
                {% endfor %}
            </select>
            <div id="share-btn-div">
                <button id="close-user-select-btn">Close</button>
                <button id="confirm-user-select-btn">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/weight_watch_script.js' %}"></script>
</body>
</html>