{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DriveWatch</title>
    <link rel="icon" href="{% static 'images/car-icon.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/drive-watch-style.css' %}">
</head>
<body>
{% csrf_token %}
<div id="container">
    <h1>
        <div id="head-links-div">
            <a id="back-link" href="/">
                <img id="back-image" src="{% static 'images/back.svg' %}">
            </a>
            <a id="logout-link" href="/logout">
                <img id="logout-image" src="{% static 'images/right-from-bracket-solid.svg' %}">
            </a>
        </div>
        <div>DriveWatch</div>
    </h1>

    <div id="drive-data-div">
        <div id="head-drive-div" class="drive-div">
            <div class="left"></div>
            <div>gemeinsam</div>
            {% for user in users %}
                <div>{{ user.username }}</div>
            {% endfor %}
        </div>
        <div class="drive-div">
            <div class="description-div">Strecke:</div>
            <div>
                <div id="together-distance">Zahl</div>
                <span>km</span>
            </div>
            {% for user in users %}
                <div>
                    <div id="user{{ user.id }}-distance">Zahl</div>
                    <span>km</span>
                </div>
            {% endfor %}
        </div>
        <div class="drive-div">
            <div class="description-div">Geld:</div>
            <div>
                <div id="together-money">Zahl</div>
                <span>&euro;</span>
            </div>
            {% for user in users %}
                <div>
                    <div id="user{{ user.id }}-money">Zahl2</div>
                    <span>&euro;</span>
                </div>
            {% endfor %}
        </div>
        <div class="drive-div">
            <div class="description-div">Kalkuliert:</div>
            <div>
                <div id="total-money">Zahl</div>
                <span>&euro;</span>
            </div>
            {% for user in users %}
                <div class="important-info">
                    <div id="user{{ user.id }}-calculated-money">Zahl2</div>
                    <span>&euro;</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <h3>Neue Tankfüllung?</h3>

    <div id="tank-filling-div">
        <label>Wie viel bezahlt:</label>
        <div>
            <input id="tank-filling-money-input" type="number" step="0.01" value="0">
            <img id="add-tank-filling-img" src="{% static 'images/plus-solid.svg' %}">
        </div>

    </div>

    <h3>Die Fahrten:</h3>
    <div id="search-div">
        <label>Suche nach einer Fahrt:</label>
        <input id="search-ride-input" type="search" placeholder="Suche...">
    </div>

    <div id="add-drive-div">
        <div>
            <label>Name:</label>
            <input id="ride-name-input" placeholder="Name...">
        </div>
        <div>
            <label>Zugeordnet zu:</label>
            <select id="ride-user-select">
                <option value="">gemeinsam</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Strecke:</label>
            <input id="ride-distance-input" type="number" step="0.01" value="0">
        </div>
        <img id="add-drive-img" src="{% static 'images/plus-solid.svg' %}">
    </div>
    <div id="drive-container">
        <div id="ride-item-template" class="ride-item">
            <div class="name-div">
            </div>
            <div class="user-div">Nutzer</div>
            <div>
                <span class="distance-span">Distanz</span>
                km
            </div>
            <div class="date-div">Datum</div>
            <img class="clone-img" src="{% static 'images/clone.svg' %}">
            <img data-id="-1" class="delete-img" src="{% static 'images/delete.svg' %}">
        </div>

        {% for ride in rides %}
            <div class="ride-item">
                <div class="name-div">
                    {{ ride.name }}
                </div>
                {% if ride.user %}
                    <div data-id="{{ ride.user.id }}" class="user-div">
                        {{ ride.user.username }}
                    </div>
                {% else %}
                    <div data-id="" class="user-div">
                        gemeinsam
                    </div>
                {% endif %}
                <div>
                    <span class="distance-span">{{ ride.distance }}</span>
                    km
                </div>
                <div class="date-div">{{ ride.formatted_date }}</div>
                <img class="clone-img" src="{% static 'images/clone.svg' %}">
                <img data-id="{{ ride.id }}" class="delete-img" src="{% static 'images/delete.svg' %}">
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/drive-watch-script.js' %}"></script>
</div>
</body>
</html>