{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" href="{% static 'images/home-icon.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <div id="container">

        <h1>
            <div id="head-links-div">
                <a id="logout-link" href="/logout"><img id="logout-image" src="{% static 'images/right-from-bracket-solid.svg' %}"></a>
            </div>
            <div>Sweet Home Server</div>
        </h1>
        <div id="link_container">
            <a class="main-nav-link" href="/weight-watch">WeightWatch</a>
            <a class="main-nav-link" href="/drive-watch">DriveWatch</a>
            <a hidden class="main-nav-link" href="/money-watch">MoneyWatch</a>
        </div>
    </div>



</body>
</html>